/* rpcom.css 1.1.6 */




/* BREAKPOINTS */

/* print */
@media print {
    html {
        font-size: 0.77rem;
    }
}

/* xxs */
@media screen and (max-width: 360px) {
    html {
        font-size: 0.77rem;
    }
}

/* sm - small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) and (max-width: 767px) {
    html {
        font-size: 0.622rem;
    }
}

/* md - medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width: 991px) {
    html {
        font-size: 0.83rem;
    }
}

/* lg - large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    html {
        font-size: 1.105rem;
    }
}

/* xl - extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
    html {
        font-size: 1.315rem;
    }
}




/* MISC */

* {
    outline: none!important;
}




/* LAYOUT */

.container-fluid {
    padding: 0;
}
@media (min-width: 576px) {
    .col-10, .col-sm-10 {
        padding: 0 2em 0 0;
    }
}
html {
    overflow-x: hidden;
    /*overflow-y: hidden; @TODO reinstate for splash-load */
}
body { /* prevent devices nudging content horizontally */
    overflow: hidden;
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
section {
    padding-top: 1.7em;
}
#content {
    padding-bottom: 4em;
}
@media screen and (max-width: 575px) {
    #content {
        margin-left: 24px;
    }
    section {
        padding-top: 1.1em;
    }
}
@media screen and (max-width: 360px) {
    section {
        padding-top: 1.65em;
    }
}
/* @TODO reinstate
html.I4.JS {
    overflow-y: auto;
    padding-right: 0;
}

/* Prevent content-jump when scrollbar appears richplastow.com/support/SBW.md * /
html.SBW-15 { padding-right:15px } /* OS X * /
html.SBW-17 { padding-right:17px } /* Most Windows * /
html.SBW-12 { padding-right:12px } /* Windows 10 Edge * /
html.SBW-0  { }                    /* Not recognised * /


/* UTILITY * /
html.B4-I4 .hidden-B4-I4 {
    visibility: hidden; /* hide until the site’s custom fonts are ready * /
}
html.B4-JS .hidden-B4-JS {
    visibility: hidden; /* hide until the site’s JavaScript is ready * /
}
*/
hidden {
    display: none; /* for IE10 and below */
}
.nowrap {
    white-space: nowrap;
}
@media (min-width: 576px) {
    .float-left-sm-up {
        float: left;
    }
    .float-right-sm-up {
        float: right;
    }
}
@media (max-width: 615px) {
    .hidden-615-down {
        display: none;
    }
}


/* BLOCK */

article {
    margin-bottom: 1em;
}
body, h1, .h1, h2, h3, h4, p {
    font-family: 'JuneRegular', arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #333;
}
h1, .h1 {
    font-size: 3.25em;
    text-transform: uppercase;
}
h2, .h2,
h3, .h3 {
    margin-top: 0.5em;
    margin-left: -0.05em;
}
h3, h4 {
    font-size: 1.491em;
}
h4 {
    margin-bottom: 0.5em;
    line-height: 1.25;
}
p {
    font-size: 1.07rem;
}




/* INLINE */

a {
    display: inline-block;
    color:   #555!important;
    cursor:  pointer;
    transition: color 0.5s;
}
a b {
    color: #333!important;
}
a.current-infopop,
a:hover,
a:focus {
    color: #000!important;
    text-decoration: underline!important;
}
strong, b, h5, h6, a, time,
.rpcom-slug li {
    font-family: 'JuneBold', arial, sans-serif;
    font-weight: 700;
    font-style: normal;
}
em, i {
    font-family: 'JuneItalic', arial, sans-serif;
    font-weight: 400;
    font-style: italic;
}




/* UA FIX */

/* getbootstrap.com/getting-started/#support-ie10-width */
@-ms-viewport { width: device-width; }

svg {
    shape-rendering: geometricPrecision!important;
}




/* REDUCE SPAM */

.ma_ling img {
    width: 0.92em;
    height: 0.92em;
    margin: -0.15em 0.04em 0 0.02em;
    /* outline: 4px solid red; */ /* this is just for dev */
}
.at {
    font-family: 'JuneRegular', arial, sans-serif;
    font-weight: 400;
    font-style: normal;
}




/* SLUG */

.rpcom-slug {
    font-size: 0.8rem;
}
.col-sm-10 .rpcom-slug {
    padding: 0;
}
.rpcom-slug li {
    display: inline-block;
    margin: 0.35em 0.1em 0 0;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.rpcom-slug li a {
    padding: 0.1em 0.5em;
    color: #ddd!important;
    background: #333;
    border-radius: 0.2em;
    text-decoration: none!important;
    transition: background 0.3s, color 0.3s;
}
.rpcom-slug li a.current-infopop,
.rpcom-slug li a:hover,
.rpcom-slug li a:focus {
    background: #000;
    color: #f8f8f8!important;
}
@media print {
    .rpcom-slug li {
        padding: 0 0 0.05em;
        border: 1px solid #000;
        background: #fff;
    }
    .rpcom-slug li a {
        color: #000!important;
    }
}



/* DL */

dl {
    font-size: 1.065rem;
    /*margin-bottom: 0;*/
}
dt.col-sm-2 {
    text-align: right;
    letter-spacing: 1px;
    text-transform: uppercase;
    white-space: nowrap;
}
dd {
    margin: 0;
}
@media (max-width: 575px) {
    dt.col-sm-2 {
        margin-top: 0.2em;
        margin-bottom: -0.15em;
        text-align: left;
    }
}
@media (min-width: 576px) {
    dt.col-sm-2 {
        padding: 0 0.7em 0 0;
    }
}
dt.col-sm-2 >* {
    font-size: 0.75em;
}
@media (min-width: 992px) {
    dt.col-sm-2 >* {
        font-size: 0.7em;
    }
}




/* SLUG IN DD */

dd .rpcom-slug {
    font-size: 0.78em; /* reverse effect of 1.07rem */
    padding-top: 0.2em;
    -webkit-transform: translateY(0.1em);
            transform: translateY(0.1em);
}




/* SHARE AND MENU ICON */

@media print {
    #icon-share, #icon-menu {
        display: none;
    }
}

#icon-share >a, #icon-menu >a {
    position: fixed;
    top: 2em;
    cursor: pointer; /* prevent occasional Firefox jitter */
    z-index: 999;
}
#icon-share >a {
    left: 0;
}
#icon-menu  >a {
    left: 0;
    padding: 0.2em 2em 1.3em 0;
}
.icon >a svg {
    width:  32px;
    height: 32px; /* 'auto' does not work on Android Browser */
}
@media (min-width: 768px) and (max-width: 991px) {
    .icon >a svg { width:40px; height:40px; }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .icon >a svg { width:48px; height:48px; }
}
@media (min-width: 1200px) {
    .icon >a svg { width:64px; height:64px; }
}
.icon svg rect:nth-child(1) {
    transition: 0.3s 0.0s;
}
.icon svg rect:nth-child(2) {
    transition: 0.3s 0.1s;
}
.icon svg rect:nth-child(3) {
    transition: 0.3s 0.2s;
}
.icon svg rect:nth-child(4) {
    transition: 0.3s 0.3s;
}
.icon svg rect:nth-child(5) {
    transition: 0.3s 0.4s;
}
.icon >a rect {
    fill: #333;
    stroke: #333;
    stroke-width: 0;
}
.icon >a:hover rect,
.icon >a:focus rect {
    fill: #000;
    stroke: #000;
    stroke-width: 20;
}




/* MENU ICON AND BTN */

.menu-btn svg rect:nth-child(1) {
    -webkit-transform-origin: 140px 320px;
            transform-origin: 140px 320px;
}
.menu-btn svg rect:nth-child(2) {
    -webkit-transform-origin: 340px 320px;
            transform-origin: 340px 320px;
}
.menu-btn svg rect:nth-child(3) {
    -webkit-transform-origin: 540px 320px;
            transform-origin: 540px 320px;
}

body.show-menu .menu-btn svg rect:nth-child(1) {
    -webkit-transform: rotate(45deg) scale(1.2, 1) translate(-90px, 30px);
            transform: rotate(45deg) scale(1.2, 1) translate(-90px, 30px);
}
body.show-menu .menu-btn svg rect:nth-child(2) {
    -webkit-transform: scale(0.5,0);
            transform: scale(0.5,0);
}
body.show-menu .menu-btn svg rect:nth-child(3) {
    -webkit-transform: rotate(-45deg) scale(1.2, 1) translate(50px, -320px);
            transform: rotate(-45deg) scale(1.2, 1) translate(50px, -320px);
}
body.show-menu .menu-btn.hidden-sm-up svg rect:nth-child(3) {
    -webkit-transform: rotate(-45deg) scale(1.2, 1) translate(115px, -355px);
            transform: rotate(-45deg) scale(1.2, 1) translate(115px, -355px);
}





/* MENU */

#menu {
    position: fixed;
    top: 2em;
    bottom: 0;
    margin-left: -15em;
    width: 15em;
    font-size: 1.2em;
    text-align: right;
    overflow: auto;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    z-index: 99;
    transition: margin-left 0.5s, opacity 0.5s, width 0.5s;
}
@media (min-width: 361px) and (max-width: 575px) {
    #menu {
        font-size: 1.15em;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    #menu {
        font-size: 1.5em;
    }
}

.container-fluid {
    transition: 0.5s;
}
#icon-menu >a {
    transition: 0.5s;
}
#menu ul {
    padding: 0 0 0 0.5em;
}
#menu li {
    list-style: none;
    padding: 0.3em 0.5em 0 0;
}
#menu li a {
    display: block;
}
#menu li hr {
    background: transparent;
    border: none;
    height: 0.4em;
    margin: 0;
}
body.show-menu #menu {
    margin-left: 0;
    opacity: 1;
}
@media (max-width: 575px) {
    body.show-menu #menu {
        top: 2em;
    }
    body.show-menu .container-fluid {
        -webkit-transform: translateX(15em);
                transform: translateX(15em);
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    #menu {
        font-size: 1.5em;
    }
    body.show-menu .container-fluid {
        -webkit-transform: translateX(19.5em);
                transform: translateX(19.5em);
    }
    body.show-menu #foot {
        -webkit-transform: translateX(22.5em);
                transform: translateX(22.5em);
    }
}
@media (min-width: 768px) {
    body.show-menu .container-fluid {
        -webkit-transform: translateX(15.5em);
                transform: translateX(15.5em);
    }
    body.show-menu #foot {
        -webkit-transform: translateX(18.5em);
                transform: translateX(18.5em);
    }
}




/* COVER */

#cover {
    position: fixed;
    top: -10em; /* not 0, for Android Chrome */
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255,255,255,0);
    visibility: hidden;
    z-index: 95;
    transition: background 0.5s, visibility 0.5s 0s;
}
body.show-menu #cover {
    background: rgba(255,255,255,0.7);
    visibility: visible;
    transition: background 0.5s;
}




/* TOP (LOGO + INTRO) */

#top {
    padding-top: 5em;
}
@media screen and (max-width: 575px) {
    #top {
        /*padding-top: 20vh;*/
    }
}
@media screen and (min-width: 576px) {
    #top {
        /*padding-top: 30vh;*/
        margin-left: -1.25em;
    }
}




/* LOGO */

#logo {
    margin: 0;
}
@media (max-width: 575px) {
    #logo {
        padding-left: 15px;
        text-align: left;
    }
}
@media (min-width: 576px) {
    #logo {
        padding: 0;
        text-align: right;
    }
}
#logo svg {
    margin-top: 0.1em;
    width: 14.86em;
    height: 7.43em;
}
#logo figcaption {
    display: none;
    line-height: 1.03;
}

/*
#logo svg >* {
    fill: #f8f8f8; /*@TODO show for legacy browsers which don’t understand `animation` * /
}
#logo svg >*:nth-child(1)  { -webkit-animation:0.3s linear 0.0s forwards logo }
#logo svg >*:nth-child(2)  { -webkit-animation:0.3s linear 0.1s forwards logo }
#logo svg >*:nth-child(3)  { -webkit-animation:0.3s linear 0.2s forwards logo }
#logo svg >*:nth-child(4)  { -webkit-animation:0.3s linear 0.3s forwards logo }
#logo svg >*:nth-child(5)  { -webkit-animation:0.3s linear 0.4s forwards logo }
#logo svg >*:nth-child(6)  { -webkit-animation:0.3s linear 0.4s forwards logo }
#logo svg >*:nth-child(7)  { -webkit-animation:0.3s linear 0.5s forwards logo }
#logo svg >*:nth-child(8)  { -webkit-animation:0.3s linear 0.5s forwards logo }
#logo svg >*:nth-child(9)  { -webkit-animation:0.3s linear 0.5s forwards logo }
#logo svg >*:nth-child(10) { -webkit-animation:0.3s linear 0.6s forwards logo }
#logo svg >*:nth-child(11) { -webkit-animation:0.3s linear 0.6s forwards logo }
#logo svg >*:nth-child(1)  {         animation:0.3s linear 0.0s forwards logo }
#logo svg >*:nth-child(2)  {         animation:0.3s linear 0.1s forwards logo }
#logo svg >*:nth-child(3)  {         animation:0.3s linear 0.2s forwards logo }
#logo svg >*:nth-child(4)  {         animation:0.3s linear 0.3s forwards logo }
#logo svg >*:nth-child(5)  {         animation:0.3s linear 0.4s forwards logo }
#logo svg >*:nth-child(6)  {         animation:0.3s linear 0.4s forwards logo }
#logo svg >*:nth-child(7)  {         animation:0.3s linear 0.5s forwards logo }
#logo svg >*:nth-child(8)  {         animation:0.3s linear 0.5s forwards logo }
#logo svg >*:nth-child(9)  {         animation:0.3s linear 0.5s forwards logo }
#logo svg >*:nth-child(10) {         animation:0.3s linear 0.6s forwards logo }
#logo svg >*:nth-child(11) {         animation:0.3s linear 0.6s forwards logo }
@-webkit-keyframes logo {
    from { fill:#f8f8f8 }
    to   { fill:#333 }
}
@keyframes logo {
    from { fill:#f8f8f8 }
    to   { fill:#333 }
}
*/



/* INTRO */

@media (max-width: 575px) {
    /*#intro p {
        display: inline;
    }*/
}
@media (min-width: 576px) {
    #intro {
        padding: 1.6em 2em 0 0.3em;
        line-height: 1.4;
    }
    #intro p {
        font-size: 1.2rem;
    }
}

/* @TODO reinstate
html.NO-I4 #intro {
    opacity: 1; /* no JavaScript, so the I4 test cannot be run * /
}
html.B4-I4 #intro,
html.I4 #intro {
    opacity: 0; /*@TODO show for legacy browsers which don’t understand `animation` * /
}
html.I4.logo-FIN #intro { /* show the intro-text when the fonts are loaded and the logo-anim has finished * /
    -webkit-animation: 1s linear 0.0s forwards intro;
            animation: 1s linear 0.0s forwards intro;
}
@-webkit-keyframes intro {
    from { opacity:0 }
    to   { opacity:1 }
}
@keyframes intro {
    from { opacity:0 }
    to   { opacity:1 }
}
*/




/* MAIN */

#main section {
    page-break-inside: avoid;
}
#about {
    margin-top: 2em;
}




/* CASE STUDIES */

#case-studies {
    margin-bottom: 2em;
}
#case-studies article {
    page-break-before: always;
}
#case-studies .container {
    page-break-inside: avoid;
}
@media screen {
    #case-studies article {
        margin-top: 3em;
    }
}
#case-studies h2 {
    margin-bottom: 0;
}
@media (max-width: 575px) {
    #case-studies h2 {
        margin-top: 0;
    }
}
.case-studies-lower b {
    display: inline-block;
    margin-top: 2.7em;
}




/* FIGURE */

figure.carousel-image {
    position: relative;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: 1;
}
figure.carousel-image img {
    /*margin-left: -39.5%;
    width: 153%;*/
    margin-left: -8.8%;
    width: 113.5%;
    height: auto;
}




/* FOOT */

@media print {
    #foot {
        display: none;
    }
}

#foot {
    background: #333;
    color: #ddd;
    cursor: default;
    pointer-events: none;
    transition: 0.5s;
}
#foot:hover,
#foot:focus {
    background: #000;
}
#foot a {
    pointer-events: auto;
    padding: 0.2em 0.5em 0.1em;
    color: #ccc!important;
}
#foot a:hover,
#foot a:focus {
    color: #f8f8f8!important;
}
#foot p {
    width: 100%;
    padding: 0 2.7em;
    margin-bottom: 0.5rem;
    text-align: center;
    font-size: 0.8em;
    color: #999;
    transition: 0.5s;
}
#foot:hover p,
#foot:focus p {
    color: #666;
}
@media (max-width: 575px) {
    #foot >div {
        display: table;
        left: 0;
        width: 100%;
    }
    #foot >div .social-icons {
        display: table-row;
        width: 100%;
        padding: 0;
    }
    #foot >div .social-icons a {
        display: table-cell;
        width: 25%;
        text-align: center;
        font-size: 1.333em;
    }
}
@media (min-width: 576px) {
    #foot {
        margin: 0 3.5em;
        border-radius: 0.3em 0.3em 0 0;
    }
    #foot >div {
        width: 100%;
    }
    #foot .social-icons {
        text-align: right;
        float: right; /* IE10 fix */
    }
    #foot .ma_ling {
        letter-spacing: 1px;
        text-transform: uppercase;
    }
}
@media (min-width: 576px) and (max-width: 767px) { /* sm */
    #foot a {
        font-size: 1.4em;
    }
}
@media (min-width: 768px) and (max-width: 991px) { /* md */
    #foot a {
        font-size: 1.2em;
    }
    #foot p {
        padding: 0 2.15em;
    }
}
@media (min-width: 992px) { /* lg xl /*/
    #foot .ma_ling {
        letter-spacing: 2px;
    }
    #foot a {
        font-size: 1.014em;
    }
}
@media (min-width: 992px) and (max-width: 1199px) { /* lg */
    #foot p {
        padding: 0 1.65em;
    }
}
@media (min-width: 1200px) { /* xl */
    #foot p {
        padding: 0 1.5em;
    }
}

#foot a svg {
    transition: 0.3s;
}
#foot a svg {
    -webkit-transform-origin: center;
            transform-origin: center;
}
#foot a:hover svg,
#foot a:focus svg {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
}
body.show-menu #foot a.menu-btn svg {
    -webkit-transform: translateY(0.1em);
            transform: translateY(0.1em);
}
body.show-menu #foot a.menu-btn:hover svg,
body.show-menu #foot a.menu-btn:focus svg {
    -webkit-transform: translateY(0.1em) scale(1.1, 1.1);
            transform: translateY(0.1em) scale(1.1, 1.1);
}
#foot a rect,
#foot a path {
    fill: #ccc;
    transition: 0.3s;
}
#foot a:hover rect,
#foot a:focus rect,
#foot a:hover path,
#foot a:focus path {
    fill: #f8f8f8;
}




/* END */
