/* rpcom.css 0.2.4 */


/* Import Custom Fonts
==================================================
 * We don't use style-linking yet because:
 *   It crashes BlackBerry 9900 & iPad 1
 *   IE7/8 can only link four styles or fewer
 *   http://tinyurl.com/n3po7nv
 */

@font-face {
    font-family: 'JuneLight';
    src: url('../font/junelight.eot');
    src: url('../font/junelight.eot#iefix') format('embedded-opentype'),
         url('../font/junelight.woff') format('woff'),
         url('../font/junelight.ttf') format('truetype'),
         url('../font/junelight.svg#JuneLight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'JuneRegular';
    src: url('../font/juneregular.eot');
    src: url('../font/juneregular.eot#iefix') format('embedded-opentype'),
         url('../font/juneregular.woff') format('woff'),
         url('../font/juneregular.ttf') format('truetype'),
         url('../font/juneregular.svg#JuneRegular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'JuneItalic';
    src: url('../font/junekursiv.eot');
    src: url('../font/junekursiv.eot#iefix') format('embedded-opentype'),
         url('../font/junekursiv.woff') format('woff'),
         url('../font/junekursiv.ttf') format('truetype'),
         url('../font/junekursiv.svg#JuneItalic') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'JuneBold';
    src: url('../font/junebold.eot');
    src: url('../font/junebold.eot#iefix') format('embedded-opentype'),
         url('../font/junebold.woff') format('woff'),
         url('../font/junebold.ttf') format('truetype'),
         url('../font/junebold.svg#JuneBold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'FontelloRuf';
    src: url('../font/fontello-ruf.eot');
    src: url('../font/fontello-ruf.eot#iefix') format('embedded-opentype'),
         url('../font/fontello-ruf.woff') format('woff'),
         url('../font/fontello-ruf.ttf') format('truetype'),
         url('../font/fontello-ruf.svg#fontello-ruf') format('svg');
}




/* BREAKPOINTS */

/* sm - small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
    html {
        font-size: 0.622rem;
    }
}

/* md - medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    html {
        font-size: 0.83rem;
    }
}

/* lg - large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
    html {
        font-size: 1.105rem;
    }
}

/* xl - extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    html {
        font-size: 1.315rem;
    }
}




/* LAYOUT */

.container-fluid {
    padding: 0;
}
@media (min-width: 576px) {
    .col-10, .col-sm-10 {
        padding: 0 2em 0 0;
    }
}



/* BLOCK */

body, h2, h3, h4 {
    font-family: 'JuneRegular', arial, sans-serif;
    font-weight: 400;
    font-style: normal;
}
h1 {
    font-family: 'JuneLight', arial, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 4em;
    text-transform: uppercase;
}
h1 a {
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
}
h3, h4 {
    font-size: 1.491em;
}
h4 {
    margin-bottom: 0.5em;
    line-height: 1.25;
}
h4.lead {
    font-size: 1.55em;
}
p {
    font-size: 1.07rem;
}




/* INLINE */

a {
    outline: none!important;
    display: inline-block;
    color:   #444!important;
    cursor:  pointer;
    transition: color 0.5s;
}
h4.lead a {
    display: inline;
}
a:hover {
    color: #000!important;
    text-decoration: underline!important;
}
strong, b, h5, h6, a, time,
.rpcom-slug li {
    font-family: 'JuneBold', arial, sans-serif;
    font-weight: 700;
    font-style: normal;
}
em, i {
    font-family: 'JuneItalic', arial, sans-serif;
    font-weight: 400;
    font-style: italic;
}
.fontello {
    font-family: 'FontelloRuf';
}




/* UA FIX */

/* getbootstrap.com/getting-started/#support-ie10-width */
@-ms-viewport { width: device-width; }

svg {
    shape-rendering: geometricPrecision!important;
}




/* REDUCE SPAM */

.ma_ling img {
    width: 0.92em;
    height: 0.92em;
    margin: -0.15em 0.04em 0 0.02em;
    outline: 4px solid red;
}
.at {
    font-family: 'JuneRegular', arial, sans-serif;
    font-weight: 400;
    font-style: normal;
}




/* SLUG */

.rpcom-slug {
    font-size: 0.8rem;
}
.col-sm-10 .rpcom-slug {
    padding: 0;
}
.rpcom-slug li {
    display: inline-block;
    margin: 0 0.1em 0.35em 0;
    background: #222;
    border-radius: 0.2em;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: background 0.3s;
}
.rpcom-slug li a {
    padding: 0.1em 0.5em;
    color: #ddd!important;
    text-decoration: none!important;
    transition: color 0.3s;
}
.rpcom-slug li:hover {
    background: #000;
}
.rpcom-slug li:hover a {
    color: #fff!important;
}




/* DL */

.rpcom-table,
dl {
    font-size: 1.065rem;
    margin-bottom: 1em;
}
.rpcom-table .col-sm-2,
dt.col-sm-2 {
    text-align: right;
    letter-spacing: 1px;
    text-transform: uppercase;
    white-space: nowrap;
}
dd {
    margin: 0;
}
@media (min-width: 576px) {
    .rpcom-table .col-sm-2,
    dt.col-sm-2 {
        padding: 0 0.7em 0 0;
    }
}
@media (max-width: 575px) {
    .rpcom-table .col-sm-2,
    dt.col-sm-2 {
        text-align: left;
    }
}
.rpcom-table .col-sm-2 >*,
dt.col-sm-2 >* {
    font-size: 0.75em;
}
@media (min-width: 992px) {
    .rpcom-table .col-sm-2 >*,
    dt.col-sm-2 >* {
        font-size: 0.7em;
    }
}




/* SLUG IN DD */

.rpcom-table .rpcom-slug,
dd .rpcom-slug {
    font-size: 0.78em; /* reverse effect of 1.07rem */
    padding-top: 0.2em;
    transform: translateY(0.1em);
}




/* SHARE AND MENU ICON */

.icon >a {
  background: yellow;
    position: fixed;
    top: 0;
    /*transform: scale(0.04, 0.04); /* Edge scales SVGs better than using `width/height: 3em` */*/
    /*padding: 10em;*/
    cursor: pointer; /* prevent occasional Firefox jitter */
    z-index: 999;
}
#icon-share >a {
    left: 0;
}
#icon-menu  >a {
    right: 0;
}
.icon >a svg {
    width:  32px;
    height: 32px; /* 'auto' does not work on Android Browser */
}
@media (min-width: 768px) and (max-width: 991px) {
    .icon >a svg { width:40px; height:40px; }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .icon >a svg { width:48px; height:48px; }
}
@media (min-width: 1200px) {
    .icon >a svg { width:64px; height:64px; }
}
.icon >a rect:nth-child(1) {
    transition: 0.3s 0.0s;
}
.icon >a rect:nth-child(2) {
    transition: 0.3s 0.1s;
}
.icon >a rect:nth-child(3) {
    transition: 0.3s 0.2s;
}
.icon >a rect:nth-child(4) {
    transition: 0.3s 0.3s;
}
.icon >a rect:nth-child(5) {
    transition: 0.3s 0.4s;
}
.icon >a rect {
    fill: #222;
    stroke: #222;
    stroke-width: 0;
}
.icon >a:hover rect {
    fill: #000;
    stroke: #000;
    stroke-width: 20;
}




/* SHARE */

#share {
    background: green;
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%;
    width: 100%;
    z-index: 99;
    transition: left 0.5s, width 0.5s;
}
body.show-share #share {
    left: 0;
}
@media (max-width: 575px) {
    #share {
        width: 100%;
    }
}
@media (min-width: 576px) {
    #share {
        width: 30em;
    }
}




/* MENU */

#menu {
    background: cyan;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 100%;
    z-index: 99;
    transition: left 0.5s, margin-left 0.5s;
}
@media (max-width: 575px) {
    body.show-menu #menu {
        left: 0;
    }
}
@media (min-width: 576px) {
    body.show-menu #menu {
        margin-left: -30em;
    }
}




/* LOGO */

#rp-initials >a {
  background: yellow;
    position: fixed;
    top: 0;
    left: 0;
    width: 3.2em;
    height: 3.2em;
    padding: 0 0.2em 0 0.5em;
    z-index: 999;
}
#rp-initials >a #rp-initial-r,
#rp-initials >a #rp-initial-p {
    transition: 0.3s;
}
#rp-initials >a:hover #rp-initial-r,
#rp-initials >a:hover #rp-initial-p {
    fill: #000;
    stroke: #000;
    stroke-width: 20;
}
#logo {
    text-align: right;
    line-height: 1;
}
@media (min-width: 576px) {
    #logo {
        position: absolute;
        margin: -0.4em 0 0 -4.8em;
    }
}




/* FIGURE */

figure {
    position: relative;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: 1;
}
figure img {
    /*margin-left: -39.5%;
    width: 153%;*/
    margin-left: -8.8%;
    width: 113.5%;
    height: auto;
}




/* FOOT */

#foot {
    position: fixed;
    margin: 0;
    bottom: 0;
    background: #222;
    color: #ddd;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: default;
    z-index: 999;
    transition: background 0.5s;
}
#foot {
    pointer-events: none;
}
#foot:hover {
    background: #000;
}
#foot a {
    pointer-events: auto;
    padding: 0.2em 0.5em 0.1em;
    color: #ccc!important;
}
#foot a:hover {
    color: #fff!important;
}
@media (max-width: 575px) {
    #foot {
        display: table;
        left: 0;
        width: 100%;
    }
    #foot a {
        display: table-cell;
        width: 16.66%;
        text-align: center;
        font-size: 1.333em;
    }
    #foot .social-icons {
        display: table-cell;
        width: 50%;
        padding: 0;
    }
}
@media (min-width: 576px) {
    #foot {
        left: 3em;
        right: 3em;
        border-radius: 0.3em 0.3em 0 0;
    }
    #foot .social-icons {
        text-align: right;
        float: right; /* IE10 fix */
    }
}
@media (min-width: 576px) and (max-width: 767px) { /* sm */
    #foot a {
        font-size: 1.4em;
    }
}
@media (min-width: 768px) and (max-width: 991px) { /* md */
    #foot a {
        font-size: 1.2em;
    }
}
@media (min-width: 992px) { /* lg xl /*/
    #foot {
        letter-spacing: 2px;
    }
    #foot a {
        font-size: 1.014em;
    }
}

#foot a svg {
    transition: transform 0.3s;
}
#foot a svg {
    transform-origin: center;
}
#foot a:hover svg {
    transform: scale(1.1, 1.1);
}
#foot a rect,
#foot a path {
    fill: #ccc;
    transition: fill 0.3s;
}
#foot a:hover rect,
#foot a:hover path {
    fill: #fff;
}




/* END */
